/* Global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 16px;
}





/* Home :- */

/* Header part :- */

.header {
    background-color: #0D6EFD;
}

.head {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 10%;
}

.title {
    width: 50%;
}

.user_logout {
    width: 15%;
}

.user_name {
    width: 25%;
}

.user {
    padding-left: 20px;
    width: 10%;
}


.logo img {
    filter: invert(1);
    width: 50px;
}

.title p {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
}

.user_name p {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: end;
}

.user_logout a {
    float: right;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0D6EFD;
}

.user_logout a:hover {
    background-color: rgb(203, 210, 210);
}



/* Section1 on home */

.homesection1 {
    padding-top: 5%;
}

.homedata {
    display: grid;
}

.exam {
    font-size: 40px;
}

.hometable {
    width: -webkit-fill-available;
}

.headerrow {
    display: inline-grid;
    width: inherit;
}

.hrow {
    display: inline-flex;
    width: inherit;
    background-color: aliceblue;
    border-radius: 20px;
}

.headtabcolumn {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    width: 33.333%;
    padding: 8px;
}

.datarow {
    display: inline-grid;
    width: inherit;
    margin-top: 20px;
}

.drow {
    display: inline-flex;
    width: inherit;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.158);
    border-radius: 20px;
}

.tabcolumn {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    width: 33.333%;
}

.middletab {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.greenattempt {
    color: green;
}

.redattempt {
    color: rgba(255, 0, 0, 0.521);
    font-style: italic;
}

.startexam {
    background-color: rgb(59, 104, 250);
    border-radius: 5px;
    padding: 8px 35px;
}

.startanchor {
    color: #ffffff;
    text-decoration: none;
}