<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page 5</title>

    <!-- Font Awesome Link -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />

    <!-- External Css -->
    <link rel="stylesheet" href="/CSS/style.css" />
    
  </head>
  <body>
    <div>
      <!-- header -->
      <header>
        <div class="head">
        <div class="logo"><a href="#"><img src="/Images/book.svg" /></a></div>
        <div class="title">
        <p>Student Exam System</p>
        </div>
        <div class="user_name">
        <p>Welcome User</p>
        </div>
        
        <div class="user_logout">
        <a href="#">Logout</a>
        </div>
        
        </div>
        </div>
        </header>
      <!-- form -->

      <section id="validate">
        <div class="container">
          <div>
            <h2 class="exam_name">Mid Exam</h2>
            <form action="">
              <div class="row">
                <div class="col">
                  <input
                    type="text"
                    name="fname"
                    id="fname"
                    placeholder="Enter Firstname"
                  />
                  <p id="fname_err"></p>
                  <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Enter Email Address"
                  />
                  <p id="email_err"></p>
                  <input
                    type="text"
                    onfocus="(this.type='date')"
                    name="dob"
                    id="dob"
                    placeholder="Enter your date of birth"
                  />
                  <p id="date_err"></p>
                  <input
                    type="text"
                    name="qualification"
                    id="qualification"
                    placeholder="Enter Qualification"
                  />
                  <p id="qualification_err"> </p>
                  <input
                    type="text"
                    name="Accesscode"
                    id="Accesscode"
                    placeholder="Enter Access Code"
                  />
                  <p id="accesscode_err"></p>
                </div>

                <div class="col">
                  <input
                    type="text"
                    name="lname"
                    id="lname"
                    placeholder="Enter Lastname"
                  />
                  <p id="lname_err"></p>
                  <input
                    type="text"
                    name="mobilenumber"
                    id="number"
                    placeholder="Enter Mobile Number"
                  />
                  <p id="number_err"></p>
                  <input
                    type="text"
                    name="city"
                    id="city"
                    placeholder="Enter City"
                  />
                  <p id="city_err"></p>
                  <input
                    type="text"
                    name="college"
                    id="college"
                    placeholder="Enter College"
                  />
                  <p id="college_err"></p>
                  <input
                    type="text"
                    name="enrollment"
                    id="enrollment"
                    placeholder="Enter Enrollment Number"
                  />
                  <p id="enrollment_err"></p>
                </div>

                <div class="col">
                  <h4>**Rules and Regulations</h4>
                  <ul>
                    <li>The Exam consists of Multiple Choice Question.</li>
                    <li>Each question is of 1 marks each.</li>
                    <li>Time Limit : 30 mins</li>
                    <li>You can not access the exam once the time is over.</li>
                    <li>There will be questions from different categories.</li>
                  </ul>
                </div>
              </div>

              <p id="startbtn" onclick="return validateForm()">
                <a href="">Start Exam</a>
              </p>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>

  <script src="/JS/validate.js"></script>
</html>
