<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Question</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <div>
        <header>
            <div class="head">
                <div class="logo"><a href="#"><img src="/Images/book.svg" /></a></div>
                <div class="title">
                    <p>Student Exam System</p>
                </div>
                <div class="user_name">
                    <p>Welcome User</p>
                </div>
            
                <div class="user_logout">
                    <a href="#">Logout</a>
                </div>
           
            </div>
            </div>
        </header>

        <div class="main_box">
            <div class="box_left">
                <div class="left_side">
                    <div class="first_row">
                        <h2 class="exam_name">Mid Exam</h2>
                        <p class="timer">25:00</p>
                    </div>
                    <div class="second_row">
                        <div class="ctg">
                            <p>C++</p>
                        </div>
                        <div class="ctg">
                            <p>Java</p>
                        </div>
                        <div class="ctg">
                            <p>Aptitude</p>
                        </div>
                    </div>
                    <div class="third_row">
                        <div class="que_body">
                            <p class="question">
                                
                                (1) Which of the following data type is supported in c++ but not in C?
                            </p>
                            <div class="option">
                                <div><input type="radio" name="que1">
                                    <p>Int</p>
                                </div>
                                <div><input type="radio" name="que1">
                                    <p>Float</p>
                                </div>
                                <div><input type="radio" name="que1">
                                    <p>Bool</p>
                                </div>
                                <div><input type="radio" name="que1">
                                    <p>Double</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forth_row">
                        <div class="buttons">
                            <div class="btn">SAVE</div>
                            <div class="btn">NEXT</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box_right">

                <div class="right_side">
                    <div class="que_head">Question No :</div>
                    <div class="grid-container">
                        <div class="grid-item">1</div>
                        <div class="grid-item">2</div>
                        <div class="grid-item">3</div>
                        <div class="grid-item">4</div>
                        <div class="grid-item">5</div>
                        <div class="grid-item">6</div>
                        <div class="grid-item">7</div>
                        <div class="grid-item">8</div>
                        <div class="grid-item">9</div>
                        <div class="grid-item">10</div>
                        <div class="grid-item">11</div>
                        <div class="grid-item">12</div>
                        <div class="grid-item">13</div>
                        <div class="grid-item">14</div>
                        <div class="grid-item">15</div>
                        <div class="grid-item">16</div>
                        <div class="grid-item">17</div>
                        <div class="grid-item">18</div>
                        <div class="grid-item">19</div>
                        <div class="grid-item">20</div>
                        <div class="grid-item">21</div>
                        <div class="grid-item">22</div>
                        <div class="grid-item">23</div>
                        <div class="grid-item">24</div>
                        <div class="grid-item">25</div>
                    </div>
                    <div class="box_info">
                        <div class="row1">
                            <div id="square1" class="square"></div>
                            <p>Saved</p>
                        </div>
                        <div class="row1">
                            <div id="square2" class="square"></div>
                            <p>Current Question</p>
                        </div>
                        <div class="row1">
                            <div id="square3" class="square"></div>
                            <p>Remaining</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>