<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
    <!-- Font Awesome Link -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />

    <!-- External Css -->
    <link rel="stylesheet" href="/CSS/term-condition.css" />
</head>
<body>
    <div>
        <!-- header -->
        <header>
            <div class="head">
            <div class="logo"><a href="#"><img src="/Images/book.svg" /></a></div>
            <div class="title">
            <p>Student Exam System</p>
            </div>
            <div class="user_name">
            <p>Welcome <%=username%></p>
            </div>
            
            <div class="user_logout">
            <a href="/logout">Logout</a>
            </div>
            
            </div>
            </div>
        </header>

        <section>
            <div id="thankyou">
                <h2>Thank You for your Response!</h2>
                <h4>Your Result will be declared soon.</h4>
            </div>
        </section>
    </div>
</body>
</html>