body {
    background: #0D6EFD
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 13px;
    padding: 5px 0;


}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.container {
    /* width:40%; */

}

.imagediv {
    width: 100%;
    height: 100%;
}

.logoimg {
    width: inherit;
    height: inherit;
}


@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        padding: 7% 0;
    }
}

@media (min-width: 768px) {
    .col-md-5 {
        flex: 0 0 auto;
        width: 50%;
    }
}