* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.head {
    padding: 15px 0;
    background-color: #0D6EFD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.logo {
    width: 10%;
}

.title {
    width: 50%;
}

.user_logout {
    width: 15%;
}

.user_name {
    width: 25%;
}

.user {
    padding-left: 20px;
    width: 10%;
}


.logo img {
    -webkit-filter: invert();
    filter: invert(1);
    width: 50px;
    margin: 0 70px;
}

.title p {
    color: white;
    font-size: 2.5rem;
    font-weight: bolder;
}

.user_name p {
    color: white;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: end;
}

.user_logout a {
    float: right;
    margin-right: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0D6EFD;
}

.user_logout a:hover {
    background-color: rgb(203, 210, 210);
}



.main_box {
    display: flex;
    flex-wrap: wrap;
}

.box_left {
    padding: 50px;
    width: 70%;
}

.box_right {
    padding: 50px;
    width: 30%;
}


.first_row {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exam_name {
    width: 40%;
    font-size: 2.5rem;
    color: #000075;
}

.timer {
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #87CEEB;
    background-color: #87CEEB;
    padding: 10px 15px;
    border-radius: 20px;
  
}

.second_row {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.ctg {
    border: 1px solid;
    justify-content: center;
    border-radius: 20px;
    background-color:#87CEEB;
    color: white;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px 10px;
    margin: 10px 10px;
    width: 150px;
}

.ctg:hover {
    box-shadow: none;
    color: #000075;
    ;
}


.ctg p {

    font-size: 1.3rem;
    font-weight: 600;
}

.third_row {
    padding: 20px 0;
}

.que_body {
    border-radius: 10px;
    padding: 25px;
    background-color: #f3f3f3;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 2px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.question {
    font-size: 1.3rem;
    font-weight: 600;

}

.option {
    padding: 20px;
    display: grid;
    text-align: justify;
    grid-template-columns: auto auto;
}

.option div {
    padding: 10px 0;
    display: flex;
}

.option input {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-right: 10px;
}

.option p {
    font-size: 1.2rem;
    font-weight: 600;
}


.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

.btn {
    cursor: pointer;
    border: 1px solid #0D6EFD;
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    margin: 0 15px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #0D6EFD;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn2 {
    display:inline;
    cursor: pointer;
    border: 1px solid #0D6EFD;
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    margin: 0px 10px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:hover {
    box-shadow: none;
    background-color: #555579;
}

.right_side {
    background-color: #87CEEB;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}



.que_head {
    font-size: 1.5rem;
    font-weight: 800;
    color: #000075;
    padding: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-item {
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 3px;
    margin: 5px 10px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.box_info {
    padding: 20px;
}

.row1 {
    display: flex;
    align-items: center;
}

.square {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    padding: 13px 25px;
    margin: 10px 0;
}

#square1 {

    background-color: rgb(56, 233, 56);
}

#square2 {
    background-color: rgb(230, 171, 33);
}

#square3 {
    background-color: white;
}

.row1 p {
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: 600;
}